body {
    background-color:#323f4b;
    background-image: url(../img/Full_CG/Norse\ \ Art.png);
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

#B-btn {
    font-size: 80px;
    color: #6F8459;
    transition: all 0.2s;
    position: absolute;
    top: 500px;
    left: 80px;
    transform: translate(-50%, -50%);
    width: auto;
}
#B-btn:not(:hover) {
    font-size:55px;
    color: #aba954;
}

#N-btn {
    font-size: 80px;
    color: #6F8459;
    transition: all 0.2s;
    position: absolute;
    top: 500px;
    left: 96%;
    transform: translate(-50%, -50%);
    width: auto;
}
#N-btn:not(:hover) {
    font-size:55px;
    color: #aba954;
  }
