/* width */
div::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div::-webkit-scrollbar-track {
    opacity: 0;
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: #bfdecf; 
    border-radius: 10px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
    background: #458767;
}
    
::-webkit-scrollbar {
    width: 0px;
}